.logo {
  width: 100%;
  max-width: 300px;
  object-fit: "contain";
}
form {
  width: 100%;
  margin-bottom: 30px;
}
.error {
  color: #d32f2f;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}